.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #2F2F2F;
  position: absolute;
  border-radius: 50%;
}

.pulse {
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}


.shelterPin {
  border: 5px solid #f44336;
  border-radius: 50%;
  background-color: white;
  text-align: 'center';
  color: #3f51b5;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
  height: 25px;
  width: 25px;
  text-align: center;
}