.map-view-btn {
  margin-top: 10px !important;
  padding: 1rem !important;
  display: block !important;
  margin: 0 auto !important;
  width: 20% !important;
  text-align: center !important;
  font-size: 20px !important;
}

.map-view-btn:hover {
  background-color: transparent !important;
  color: var(--app-dark-color);
  border: 1px solid var(--app-dark-color);
}

