:root {
	--background-opacity: 0.9;
	--main-bg-color: #007fff;
	/* --app-secondary-color: ; */
	--app-light-color: #fff;
	--app-dark-color: black;
	--app-transparent-color: rgba(0, 0, 0, 0);
	/* --app-card-color: ; */
	--form-error-color: red;
}

.page-container {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

a {
  text-decoration: none;
}

.page {
	margin: 2rem;
	min-height: calc(100vh - 40px);
}

#app-logo {
	margin-right: 5px;
	height: 80px;
}

.app-bar {
	background-color: var(--main-bg-color) !important;
}

