.need-place-button {
  padding: 1rem !important;
}

.need-place-button:hover, .select-image-button:hover {
  background-color: transparent !important;
  color: black;
  border: 1px solid black;
}

.select-image-button {
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
}
