.need-place-button {
  padding: 1rem !important;
	margin-top: 0px !important;
}

.need-place-button:hover, .select-image-button:hover {
  background-color: transparent !important;
  color: var(--app-dark-color);
  border: 1px solid var(--app-dark-color);
}

.select-image-button {
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
}
